.snakeBoard {
  width: 400px;
  height: 400px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.snakeSquare {
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid black;
}

.snakeHead {
  background-color: goldenrod;
}

.snakeBody {
  background-color: brown;
}

.bugSitting {
  background-color: lightgreen;
}

.menuGrid {
  margin: auto;
  width: 400px;
}

.steeringGrid {
  margin: auto;
  width: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.empty {
  width: 60px;
}

.snakeMenuControl {
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
