.gameSquare {
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid black;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu {
  width: 400px;
}

.menu p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu button {
  margin-right: 8px;
  margin-bottom: 8px;
}
