* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 1200px;
  justify-content: center;
}

.link {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

.link:visited {
  color: blue;
  text-decoration: none;
}

.link-container {
  display: flex;
  justify-content: center;
}
